@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #081b29;
    color: #ededed;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 40px;
    background-color: #3f7ca8;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card-overlay {
    transform: translateY(0%);
}

.card-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card-details {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2em;
    border-radius: 40px 0 0 0;
    background-color: #3f7ca8;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card-thumbnail {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-title {
    font-size: 1.2em;
    margin: 0 0 .3em;
    color: #ededed;
}

.card-creation-date {
    font-size: 1em;
    color: #ededed;
}

.card-description {
    padding: 0 2em 2em;
    margin: 0;
    color: #ededed;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}